<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Component Directives
      </mat-panel-title>
      <mat-panel-description> 
        Component Directives are used as 
      </mat-panel-description>
    </mat-expansion-panel-header>  
     <div class="accordion-content">
      <app-counter></app-counter>
      <hr>
      
      <app-custom-counter title="Fancy counter">
        <ng-template appCounterValue let-value>
          <div>
            <span class="mr-2">Current value: {{value}}</span> 
            <i class="fa fa-arrow-left"></i>
          </div>
        </ng-template>
      
        <ng-template appCounterIncBtn let-increment>
          <button class="btn btn-success" (click)="increment()">
            inc <i class="fa fa-arrow-up"></i>
          </button>
        </ng-template>
      
        <ng-template appCounterDecBtn let-decrement>
          <button class="btn btn-danger" (click)="decrement()">
            dec <i class="fa fa-arrow-down"></i>
          </button>
        </ng-template>
      </app-custom-counter>
      <hr>
      
      <app-custom-counter title="Fancy counter with * syntax">
        <div *appCounterValue="let value">
          <span class="mr-2">Current value: {{value}}</span> 
          <i class="fa fa-arrow-left"></i>
        </div>
      
        <button class="btn btn-success" *appCounterIncBtn="let increment" (click)="increment()">
          inc <i class="fa fa-arrow-up"></i>
        </button>
      
        <button class="btn btn-danger" *appCounterDecBtn="let decrement" (click)="decrement()">
          dec <i class="fa fa-arrow-down"></i>
        </button>
      </app-custom-counter>
      
     </div> 

     <mat-action-row> 
      <button mat-button color="primary" (click)="nextStep()">Next</button> 
      <!-- <button mat-button color="primary" (click)="nextStep()" *ngIf="isLast">End</button>  -->
    </mat-action-row>
  </mat-expansion-panel> 

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Component Directives
      </mat-panel-title> 
    </mat-expansion-panel-header>   
      <app-accordion>
        <app-accordion-item *ngFor="let item of accordionItems">
        </app-accordion-item>
        <app-accordion-item2 *ngFor="let item of accordionItems">
        </app-accordion-item2>
      </app-accordion>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()" >Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button> 
      <!-- <button mat-button color="primary" (click)="nextStep()" *ngIf="isLast">End</button>  -->
    </mat-action-row>
  </mat-expansion-panel> 

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Summary
      </mat-panel-title> 
    </mat-expansion-panel-header>  
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()" >Previous</button> 
      <button mat-button color="primary" (click)="nextStep()">End</button> 
    </mat-action-row>
  </mat-expansion-panel> 

</mat-accordion>  
 

